/* Customize the slider track (background) */
.customSlider [role="slider"] {
  background-color: #1575b9 !important;
  border: 2px solid #1575b9;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

/* Customize the filled range */
.customSlider [data-state="range"] {
  background-color: #1575b9 !important;
  height: 4px;
  border-radius: 4px;
}

/* Customize the entire slider track */
.customSlider [data-state="track"] {
  background-color: #1575b9 !important;
  height: 4px;
  border-radius: 4px;
}
